* {
  font-family: 'Graphik LCG', sans-serif; }
  * h1, * h2, * p {
    margin: 0; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative; }

body.block {
  overflow: hidden; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px; }
  @media (max-width: 768px) {
    .container {
      padding: 0 15px; } }

.header {
  max-height: 80px; }
  .header__wrapper {
    margin: 0 auto;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 104px;
    height: 24px; }
    .header__logo .logo {
      display: flex;
      text-decoration: none;
      font-family: 'Hauora';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      color: #2C3038;
      text-align: center; }
      .header__logo .logo__img {
        margin-right: 10px; }
  .header__menu {
    margin-right: auto;
    margin-left: 100px; }
    .header__menu .menu {
      padding-left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none; }
      .header__menu .menu__item {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 110%;
        margin-right: 30px;
        text-align: center; }
        .header__menu .menu__item a {
          text-decoration: none;
          color: #2C3038; }
  .header__buttons {
    display: flex;
    height: 42px; }
    .header__buttons .btn-entry {
      padding: 12px 20px;
      border: 1px solid rgba(5, 21, 52, 0.3);
      border-radius: 4px;
      margin-right: 10px;
      transition: 0.3s;
      text-decoration: none;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      color: #051534; }
      .header__buttons .btn-entry:hover {
        background-color: #f5f5f5; }
    .header__buttons .btn-registration {
      padding: 12px 20px;
      background: #0F8FF9;
      border-radius: 4px;
      text-decoration: none;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      color: #FFFFFF;
      transition: 0.3s; }
      .header__buttons .btn-registration:hover {
        background-color: #0072EC; }
  .header__burger {
    display: none; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .header .header__menu {
      margin-left: 20px; }
      .header .header__menu .menu__item {
        font-size: 16px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .header .header__menu {
      margin-left: 20px; }
      .header .header__menu .menu__item {
        font-size: 14px;
        line-height: 85%;
        margin-right: 8px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .header .header__menu {
      display: none; } }
  @media (min-width: 320px) and (max-width: 576px) {
    .header .header {
      height: 70px; }
      .header .header__wrapper {
        padding: 15px; }
      .header .header__menu {
        opacity: 0;
        position: absolute;
        top: 70px;
        left: -100px;
        width: 100%;
        height: 100vh;
        background-color: #0F8FF9;
        transition: 0.3s; }
        .header .header__menu .menu {
          flex-direction: column; }
          .header .header__menu .menu__item {
            margin-top: 30px;
            font-size: 24px;
            margin-right: 0; }
            .header .header__menu .menu__item a {
              color: white; }
      .header .header__menu.active {
        opacity: 1; }
      .header .header__buttons {
        display: none; }
      .header .header__burger {
        display: block;
        position: relative;
        height: 40px;
        width: 40px; }
        .header .header__burger::after, .header .header__burger::before, .header .header__burger span {
          content: "";
          position: absolute;
          background-color: #051534;
          width: 18px;
          height: 2px;
          left: 50%;
          transform: translateX(-50%);
          transition: all 0.3s; }
        .header .header__burger::before {
          top: 35%;
          bottom: 65%; }
        .header .header__burger::after {
          top: 65%;
          bottom: 35%; }
        .header .header__burger span {
          top: 50%;
          bottom: 50%;
          border-bottom: none; }
      .header .header__burger.active span {
        transform: scale(0); }
      .header .header__burger.active::before {
        transform: rotate(45deg);
        top: 50%;
        left: 30%; }
      .header .header__burger.active::after {
        transform: rotate(-45deg);
        top: 52%;
        left: 30%; }
    .header .promo__title {
      margin-top: 100px;
      font-size: 40px; }
    .header .promo__descr {
      margin-top: 15px;
      font-size: 18px; } }

.promo__title {
  max-width: 946px;
  margin: 0 auto;
  margin-top: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #051534; }
.promo__descr {
  max-width: 946px;
  margin: 0 auto;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  color: #051534; }
  .promo__descr span {
    font-weight: 600; }
@media (min-width: 577px) and (max-width: 767px) {
  .promo .promo__title {
    margin-top: 120px;
    font-size: 55px; } }
@media (min-width: 320px) and (max-width: 576px) {
  .promo .promo__title {
    margin-top: 100px;
    font-size: 40px; }
  .promo .promo__descr {
    margin-top: 15px;
    font-size: 18px; } }

.tariff {
  margin-top: 80px; }
  .tariff__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .tariff__cards .card {
      max-width: 224px;
      padding: 25px;
      border-radius: 8px;
      margin-top: 20px; }
      .tariff__cards .card_first {
        background: #FFF0F7; }
      .tariff__cards .card_business {
        background: #EAFFEE; }
      .tariff__cards .card_comfort {
        background: #F0FCFF; }
      .tariff__cards .card_economy {
        background: #F9F9F9; }
      .tariff__cards .card__title {
        margin-top: 10px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #051534; }
      .tariff__cards .card__descr {
        margin-top: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #051534; }
      .tariff__cards .card__price {
        margin-top: 30px; }
        .tariff__cards .card__price .price-sum {
          font-style: normal;
          font-weight: 900;
          font-size: 40px;
          line-height: 100%;
          color: #051534; }
        .tariff__cards .card__price .price-descr {
          margin-top: 5px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
          color: rgba(5, 21, 52, 0.5); }
      .tariff__cards .card__users {
        margin-top: 30px; }
        .tariff__cards .card__users .users-people, .tariff__cards .card__users .users-company {
          position: relative;
          margin-left: 21px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
          color: #051534; }
        .tariff__cards .card__users .users-company {
          margin-top: 8px; }
          .tariff__cards .card__users .users-company::before {
            content: "";
            position: absolute;
            top: 0;
            left: -21px;
            width: 16px;
            height: 16px;
            background-image: url(../icons/Company.svg); }
        .tariff__cards .card__users .users-people::before {
          content: "";
          position: absolute;
          top: 0;
          left: -21px;
          width: 16px;
          height: 16px;
          background-image: url(../icons/man.svg); }
      .tariff__cards .card__functionals {
        margin-top: 15px; }
        .tariff__cards .card__functionals .functional_plus, .tariff__cards .card__functionals .functional_minus {
          position: relative;
          margin-left: 21px;
          margin-bottom: 8px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 120%; }
        .tariff__cards .card__functionals .functional_plus {
          color: #051534; }
          .tariff__cards .card__functionals .functional_plus::before {
            content: "";
            position: absolute;
            top: 0;
            left: -21px;
            width: 16px;
            height: 16px;
            background-image: url(../icons/Check.png); }
        .tariff__cards .card__functionals .functional_minus {
          color: rgba(5, 21, 52, 0.25); }
          .tariff__cards .card__functionals .functional_minus::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -21px;
            width: 11px;
            height: 1.5px;
            background: rgba(44, 48, 56, 0.25); }
      .tariff__cards .card__btn {
        display: block;
        margin-top: 49px;
        padding: 12px 20px;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        color: #FFFFFF;
        transition: 0.3s; }
        .tariff__cards .card__btn_first {
          background: #F0568E; }
          .tariff__cards .card__btn_first:hover {
            background: #ef3e7e; }
        .tariff__cards .card__btn_business {
          background: #00C064; }
          .tariff__cards .card__btn_business:hover {
            background: #00c04d; }
        .tariff__cards .card__btn_comfort {
          background: #0F8FF9; }
          .tariff__cards .card__btn_comfort:hover {
            background: #007be0; }
        .tariff__cards .card__btn_economy {
          background: #FFFFFF;
          border: 1px solid rgba(5, 21, 52, 0.3);
          color: #051534; }
          .tariff__cards .card__btn_economy:hover {
            background: #f5f5f5; }
  @media (min-width: 882px) and (max-width: 1199px) {
    .tariff .tariff__cards .card_economy {
      margin: 0 auto;
      margin-top: 20px; } }
  @media (min-width: 609px) and (max-width: 881px) {
    .tariff .tariff__cards .card {
      width: 344px; } }
  @media (min-width: 320px) and (max-width: 608px) {
    .tariff .tariff__cards {
      flex-direction: column; }
      .tariff .tariff__cards .card {
        margin: 0 auto;
        margin-top: 20px; } }

.demo {
  margin-top: 200px; }
  .demo__wrapper {
    margin: 0 auto;
    max-width: 946px;
    display: flex;
    justify-content: space-between; }
  .demo__img {
    margin-right: 40px; }
  .demo__text {
    margin-top: 18px; }
    .demo__text .text-title {
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 110%;
      letter-spacing: -0.005em;
      color: #051534; }
    .demo__text .text-descr {
      margin-top: 15px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #051534; }
    .demo__text .text-btn {
      display: block;
      max-width: 213px;
      margin-top: 20px;
      padding: 12px 20px;
      border: 1px solid rgba(5, 21, 52, 0.3);
      border-radius: 4px;
      text-decoration: none;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      color: #051534;
      transition: 0.3s; }
      .demo__text .text-btn:hover {
        background: #f5f5f5; }
  @media (min-width: 576px) and (max-width: 991px) {
    .demo {
      margin-top: 100px; }
      .demo__wrapper {
        flex-direction: column; }
      .demo__img {
        margin: 0 auto; }
      .demo__text {
        margin-top: 37px; }
        .demo__text .text-title, .demo__text .text-descr {
          text-align: center; }
        .demo__text .text-btn {
          margin: 0 auto;
          margin-top: 20px; } }
  @media (min-width: 320px) and (max-width: 575px) {
    .demo {
      margin-top: 85px; }
      .demo__wrapper {
        flex-direction: column; }
      .demo__img {
        margin: 0 auto; }
      .demo__text {
        margin-top: 20px; }
        .demo__text .text-title, .demo__text .text-descr {
          text-align: center; }
        .demo__text .text-btn {
          margin: 0 auto;
          margin-top: 29px; } }

.consulting {
  margin-top: 200px; }
  .consulting__wrapper {
    background: #F9F9F9;
    border-radius: 16px;
    padding: 120px 0; }
  .consulting__title {
    max-width: 755px;
    margin: 0 auto;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.005em;
    color: #051534; }
  .consulting__list {
    max-width: 558px;
    margin: 0 auto; }
    .consulting__list .string {
      position: relative;
      margin-top: 50px;
      margin-left: 79px;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 150%;
      color: #051534; }
      .consulting__list .string::before {
        content: "";
        top: 0;
        left: -79px;
        position: absolute;
        width: 60px;
        height: 60px;
        background: #EAEAEA;
        border-radius: 100%;
        filter: blur(7.5px); }
      .consulting__list .string::after {
        content: "";
        position: absolute;
        top: 0;
        left: -79px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 30px;
        line-height: 130%;
        text-align: center;
        color: #555A64; }
    .consulting__list .string_first::after {
      content: "1"; }
    .consulting__list .string_second::after {
      content: "2"; }
    .consulting__list .string_third::after {
      content: "3"; }
  .consulting__btn {
    display: block;
    max-width: 334px;
    padding: 18px 0;
    background: #051534;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s; }
    .consulting__btn:hover {
      background-color: #555A64;
      color: #051534; }
  @media (min-width: 576px) and (max-width: 767px) {
    .consulting {
      margin-top: 120px; }
      .consulting__wrapper {
        padding: 100px 50px; }
      .consulting__title {
        font-size: 45px; } }
  @media (min-width: 320px) and (max-width: 575px) {
    .consulting {
      margin-top: 100px; }
      .consulting__wrapper {
        padding: 60px 20px; }
      .consulting__title {
        font-size: 30px; }
      .consulting__list .string {
        font-size: 18px; }
      .consulting__btn {
        font-size: 18px; } }

.faq {
  margin-top: 200px; }
  .faq__title {
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.005em;
    color: #051534; }
  .faq__block {
    margin-top: 50px;
    display: flex;
    flex-direction: column; }
    .faq__block .question {
      display: inline-block;
      background: #0F8FF9;
      border-radius: 0px 12px 12px 12px;
      padding: 10px 20px;
      margin-right: auto;
      margin-top: 10px;
      cursor: pointer;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #FFFFFF; }
      .faq__block .question:hover {
        background: #0072EC; }
    .faq__block .question.select {
      background: #0072EC; }
    .faq__block .answer {
      display: none;
      max-width: 946px;
      margin-left: auto;
      transition: 0.3s; }
      .faq__block .answer__text {
        margin-right: 15px;
        max-width: 881px; }
        .faq__block .answer__text p {
          margin-top: 20px;
          padding: 10px 20px;
          background: #F9F9F9;
          border-radius: 12px 0px 12px 12px;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 150%;
          color: #051534; }
      .faq__block .answer__img {
        margin-top: 20px; }
      .faq__block .answer_lock {
        display: flex;
        justify-content: end; }
      .faq__block .answer a {
        color: #0F8FF9;
        text-decoration: none; }
    .faq__block .answer.action {
      display: flex;
      opacity: 0;
      opacity: 1;
      animation: action 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
@keyframes action {
  0% {
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
  @media (min-width: 576px) and (max-width: 991px) {
    .faq {
      margin-top: 12px; }
      .faq__title {
        font-size: 45px; } }
  @media (min-width: 320px) and (max-width: 575px) {
    .faq {
      margin-top: 100px; }
      .faq__title {
        font-size: 30px; }
      .faq__block {
        margin-top: 40px; }
        .faq__block .question, .faq__block .answer {
          font-size: 18px; } }

.footer {
  margin-top: 182px;
  padding: 80px 0 0;
  background: #051534;
  position: relative; }
  .footer__columns {
    display: flex;
    justify-content: space-between; }
    .footer__columns .column {
      width: 267px; }
      .footer__columns .column__logo {
        display: flex; }
        .footer__columns .column__logo img {
          margin-right: 15px;
          margin-top: 4px;
          width: 44px;
          height: 44px; }
        .footer__columns .column__logo_text {
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 120%;
          color: #FFFFFF; }
          .footer__columns .column__logo_text span {
            font-family: 'Hauora';
            font-style: normal;
            font-weight: 700; }
      .footer__columns .column__busines-title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF; }
      .footer__columns .column__service-title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF; }
      .footer__columns .column__info-title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF; }
      .footer__columns .column__list {
        padding-left: 0;
        list-style-type: none; }
        .footer__columns .column__list .list-item {
          margin-top: 15px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 120%; }
          .footer__columns .column__list .list-item a {
            text-decoration: none;
            color: #8394B5; }
          .footer__columns .column__list .list-item__mail, .footer__columns .column__list .list-item__phone {
            display: block;
            margin-top: 15px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: rgba(255, 255, 255, 0.7);
            text-decoration: none; }
          .footer__columns .column__list .list-item__phone {
            color: #FFFFFF; }
      .footer__columns .column__line {
        margin-top: 15px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 0; }
  .footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer__links .pay-metods {
      display: flex;
      align-items: center; }
      .footer__links .pay-metods a {
        margin-right: 20px; }
    .footer__links .app {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px; }
      .footer__links .app a {
        display: flex;
        padding: 12px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        margin-left: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        text-decoration: none;
        color: #FFFFFF; }
        .footer__links .app a img {
          margin-right: 8px; }
  .footer__line {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 0; }
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    padding: 25px 0; }
    .footer__bottom .links a {
      margin-right: 20px;
      text-decoration: none;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.5); }
    .footer__bottom .links .link-md {
      display: none; }
    .footer__bottom .social-links {
      display: flex;
      align-items: center; }
      .footer__bottom .social-links a {
        margin-left: 30px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .footer__columns .column {
      margin-right: 24px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .footer {
      padding: 0;
      margin-top: 200px; }
      .footer__columns .column {
        margin-top: 161px; }
        .footer__columns .column__logo {
          position: absolute;
          margin: 0;
          top: 60px;
          left: 30px; }
        .footer__columns .column__busines, .footer__columns .column__service, .footer__columns .column__info {
          width: 223px; }
      .footer__links {
        display: none; }
      .footer__line {
        display: none; }
      .footer__bottom {
        margin-top: 70px; }
        .footer__bottom .links {
          display: flex;
          justify-content: space-between; }
          .footer__bottom .links #white {
            color: #FFFFFF; }
          .footer__bottom .links .link-md {
            display: flex; }
        .footer__bottom .social-links {
          position: absolute;
          top: 60px;
          right: 30px; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .footer {
      padding: 0;
      margin-top: 100px; }
      .footer__columns {
        flex-direction: column; }
        .footer__columns .column {
          margin-top: 50px; }
      .footer__line {
        display: none; }
      .footer__links {
        display: none; }
      .footer__bottom {
        flex-direction: column-reverse; }
        .footer__bottom .social-links {
          margin-top: 40px; }
          .footer__bottom .social-links a {
            margin-left: 0;
            margin-right: 30px; }
        .footer__bottom .links {
          margin-top: 40px;
          display: flex;
          flex-direction: column; }
          .footer__bottom .links #white {
            color: #FFFFFF; }
          .footer__bottom .links a {
            margin-top: 10px; }
          .footer__bottom .links .link-md {
            display: flex; } }

/*# sourceMappingURL=style.css.map */
