@media (max-width: 1108px) {
    .header {
        &__menu {
            margin-left: 20px;
            .menu {
                &__item {
                    font-size: 16px;
                }
            }
        }
    }
}
@media (max-width:992px) {
    .header {
        &__menu {
            margin-left: 20px;
            .menu {
                &__item {
                    font-size: 14px;
                    line-height: 85%;
                    margin-right: 8px;
                }
            }
        }
    }
}
@media (max-width:768px) {
    .header {
        &__menu {
            display: none;
        }
    }
    .promo {
        &__title {
            margin-top: 120px;
            font-size: 55px;
        }
    }
}
@media (max-width: 576px) {
    .header{
        height: 70px;
        &__wrapper {
            padding: 15px;
        }
        &__menu {
            display: block;
            opacity: 0;
            position: absolute;
            top: 70px;
            left: -20px;
            width: 100%;
            height: 100vh;
            background-color: #0F8FF9;
            transition: 0.3s;
            .menu {
                flex-direction: column;
                &__item {
                    margin-top: 30px;
                    font-size: 24px;
                    a {
                        color: white;
                    }
                }
            }
        }
        &__menu.active {
            opacity: 1;
        }

        &__buttons {
            display: none;
        }
        &__burger {
            display: block;
            position: relative;
            height: 40px;
            width: 40px;
            
            &::after, &::before, span {
                content: "";
                position: absolute;
                background-color: #051534;
                width: 18px;
                height: 2px;
                left: 50%;
                transform: translateX(-50%);
                transition: all 0.3s;
            }
            &::before {
                top: 35%;
                bottom: 65%
            }
            &::after {
                top: 65%;
                bottom: 35%;
            }
            span {
                top: 50%;
                bottom: 50%;
                border-bottom: none;
                
            }
        }
        &__burger.active {
            span {
                transform: scale(0);
            }
        }
        &__burger.active::before {
            transform: rotate(45deg);
            top: 50%;
            left: 30%;
        }
        &__burger.active::after {
            transform: rotate(-45deg);
            top: 52%;
            left: 30%;
        }
    }

    .promo {
        &__title {
            margin-top: 100px;
            font-size: 40px;
        }
        &__descr {
            margin-top: 15px;
            font-size: 18px;
        }
    }
}