* {
    font-family: 'Graphik LCG', sans-serif;
    h1, h2, p {
        margin: 0;
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
body.block {
    overflow: hidden;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
    @media (max-width: 768px) {
        padding: 0 15px;
    }
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/tariff';
@import 'blocks/demo';
@import 'blocks/consulting';
@import 'blocks/faq';
@import 'blocks/footer';
