* {
    font-family: 'Graphik', sans-serif;
    h1, h2, p {
        margin: 0;
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
body.block {
    overflow: hidden;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/tariff';