.footer {
    margin-top: 182px;
    padding: 80px 0 0;
    background: #051534;
    position: relative;
    &__columns {
        display: flex;
        justify-content: space-between;
        .column {
            width: 267px;
            &__logo {
                display: flex;
                img {
                    margin-right: 15px;
                    margin-top: 4px;
                    width: 44px;
                    height: 44px;
                }
                &_text {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 120%;
                    color: #FFFFFF;
                    span {
                        font-family: 'Hauora';
                        font-style: normal;
                        font-weight: 700;
                    }
                }
            }
            &__busines {
                &-title {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 120%;
                    color: #FFFFFF;
                }
            }
            &__service {
                &-title {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 120%;
                    color: #FFFFFF;
                }
            }
            &__info {
                &-title {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 120%;
                    color: #FFFFFF;
                }
            }
            &__list {
                padding-left: 0;
                list-style-type: none;
                .list-item {
                    margin-top: 15px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 120%;
                    a {
                        text-decoration: none;
                        color: #8394B5;
                    }
                    &__mail, &__phone {
                        display: block;
                        margin-top: 15px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 120%;
                        color: rgba(255, 255, 255, 0.7);
                        text-decoration: none;
                    }
                    &__phone {
                        color: #FFFFFF;
                    }
                }
            }
            &__line {
                margin-top: 15px;
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-bottom: 0;
            }
        }
    }
    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .pay-metods {
            display: flex;
            align-items: center;
            a {
                margin-right: 20px;
            }
        }
        .app {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            a {
                display: flex;
                padding: 12px;
                border: 2px solid rgba(255, 255, 255, 0.2);
                border-radius: 8px;
                margin-left: 10px;

                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 140%;
                text-decoration: none;
                color: #FFFFFF;
                img {
                    margin-right: 8px;
                }
            }
        }
    }
    &__line {
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 0;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 25px 0;
        .links {
            a {
                margin-right: 20px;
                text-decoration: none;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 120%;
                color: rgba(255, 255, 255, 0.5);
            }
            .link-md {
                display: none;
            }
        }
        .social-links {
            display: flex;
            align-items: center;
            a {
                margin-left: 30px;
            }
        }
    }

    // Медиазапросы
    @media (min-width:992px) and (max-width: 1199px) {
        &__columns {
            margin-right: 24px;
            .column {
                margin-right: 24px;
            }
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        padding: 0;
        margin-top: 200px;
        &__columns {
            .column {
                margin-top: 161px;
                &__logo {
                    position: absolute;
                    margin: 0;
                    top: 60px;
                    left: 30px;
                }
                &__busines, &__service, &__info {
                    width: 223px;
                }
            }
        }
        &__links {
            display: none;
        }
        &__line {
            display: none;
        }
        &__bottom {
            margin-top: 70px;
            .links{
                display: flex;
                justify-content: space-between;
                #white {
                    color: #FFFFFF;
                }
                .link-md {
                    display: flex;
                }
            }
            .social-links {
                position: absolute;
                top: 60px;
                right: 30px;
            }
        }
    }
    @media (min-width: 320px) and (max-width: 767px) {
        padding: 0;
        margin-top: 100px;
        &__columns {
            flex-direction: column;
            .column {
                margin-top: 50px;
            }
        }
        &__line {
            display: none;
        }
        &__links {
            display: none;
        }
        &__bottom {
            flex-direction: column-reverse;
            .social-links {
                margin-top: 40px;
                a {
                    margin-left: 0;
                    margin-right: 30px;
                }
            }
            .links {
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                #white {
                    color: #FFFFFF;
                }
                a {
                    margin-top: 10px;
                }
                .link-md {
                    display: flex;
                }
            }
        }
    }
}
