.header {
    max-height: 80px;
    &__wrapper {
        margin: 0 auto;
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 104px;
        height: 24px;
        .logo {
            display: flex;
            text-decoration: none;
            font-family: 'Hauora';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 120%;
            color: #2C3038;
            text-align: center;
            &__img {
                margin-right: 10px;
            }
        }
    }
    &__menu {
        margin-right: auto;
        margin-left: 100px;
        .menu {
            padding-left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            &__item {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 110%;
                margin-right: 30px;
                text-align: center;
                a {
                    text-decoration: none;
                    color: #2C3038;
                }
            }
        }
    }
    &__buttons {
        display: flex;
        height: 42px;
        .btn-entry {
            padding: 12px 20px;
            border: 1px solid rgba(5, 21, 52, 0.3);
            border-radius: 4px;
            margin-right: 10px;
            transition: 0.3s;

            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            color: #051534;
            &:hover {
                background-color: #f5f5f5;
            }
        }
        .btn-registration {
            padding: 12px 20px;
            background: #0F8FF9;
            border-radius: 4px;

            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            color: #FFFFFF;
            transition: 0.3s;
            &:hover {
                background-color: #0072EC;
            }
        }
    }
    &__burger {
        display: none;
    }

    // Медиазапросы

    @media (min-width: 992px) and (max-width: 1199px) {
        .header {
            &__menu {
                margin-left: 20px;
                .menu {
                    &__item {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) and (max-width: 992px) {
        .header {
            &__menu {
                margin-left: 20px;
                .menu {
                    &__item {
                        font-size: 14px;
                        line-height: 85%;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
    @media (min-width: 576px) and (max-width: 768px) {
        .header {
            &__menu {
                display: none;
            }
        }
    }
    @media (min-width: 320px) and (max-width: 576px) {
        .header{
            height: 70px;
            &__wrapper {
                padding: 15px;
            }
            &__menu {
                opacity: 0;
                position: absolute;
                top: 70px;
                left: -100px;
                width: 100%;
                height: 100vh;
                background-color: #0F8FF9;
                transition: 0.3s;
                .menu {
                    flex-direction: column;
                    &__item {
                        margin-top: 30px;
                        font-size: 24px;
                        margin-right: 0;
                        a {
                            color: white;
                        }
                    }
                }
            }
            &__menu.active {
                opacity: 1;
            }
            &__buttons {
                display: none;
            }
            &__burger {
                display: block;
                position: relative;
                height: 40px;
                width: 40px;
                
                &::after, &::before, span {
                    content: "";
                    position: absolute;
                    background-color: #051534;
                    width: 18px;
                    height: 2px;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: all 0.3s;
                }
                &::before {
                    top: 35%;
                    bottom: 65%
                }
                &::after {
                    top: 65%;
                    bottom: 35%;
                }
                span {
                    top: 50%;
                    bottom: 50%;
                    border-bottom: none;
                    
                }
            }
            &__burger.active {
                span {
                    transform: scale(0);
                }
            }
            &__burger.active::before {
                transform: rotate(45deg);
                top: 50%;
                left: 30%;
            }
            &__burger.active::after {
                transform: rotate(-45deg);
                top: 52%;
                left: 30%;
            }
        }
    
        .promo {
            &__title {
                margin-top: 100px;
                font-size: 40px;
            }
            &__descr {
                margin-top: 15px;
                font-size: 18px;
            }
        }
    }
}